.header-image {
    background-image: url("https://i.ibb.co/Ld4NLGF/vishnu-r-nair-m1-WZS5ye404-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}